/*====================
    **FOOTER **
====================*/
.footer__container {
    background: var(--white);
    color: var(--black);
    padding: 1rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    /*box-shadow: var(--box-shadow);*/
    text-align: center;
}

.footer__container-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__container-info2-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__container-copy {
    padding: 1rem;
}

@media (max-width: 450px) {
    .footer__container-info{
        flex-direction: column;
    }
}